@import 'mediawiki.skin.variables.less';

.wikibase-wbui2025-indicator-popover pre {
	background-color: @background-color-interactive-subtle;
	border: @border-width-base @border-style-base @border-color-subtle;
	border-radius: @border-radius-base;
	padding: @spacing-75;
	margin: 0;
	white-space: pre-wrap;
	word-break: break-word;
}
